@page
@model IndexModel
@{
    ViewData[index: "Title"] = "The Home for Pizza Lovers";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(year: 2000, month: 1, day: 1);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Pizza</h1>
    <p>The best pizza in town for @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
</div>