@page "/delete/{Id:int}"

<PageTitle>Delete page</PageTitle>

@* Note: Many of the "class=" instances reference Bootstrap styles. *@

@* Begin render Delete code block *@
<EditForm OnSubmit="Submit" FormName="DeleteFruit" Model="_fruitList">
  <InputNumber hidden="true" @bind-Value="_fruitList!.id" />
  <div class="border p-3 mt-4" style="width:50%;">
    <div class="row pb-2">
      <h2 class="text-primary pl-3">Delete Fruit</h2>
      <hr />
    </div>
    <div class="mb-3">
      <label class="h5" asp-for="FruitModels.name"></label><br />
      <InputText @bind-Value="_fruitList!.name" Disabled />
    </div>
    <div class="mb-3">
      <label class="h5"></label><br />
      <InputCheckbox @bind-Value="_fruitList!.instock" style="width:20px;height:20px;" Disabled />
      <label class="h7">Check the box if available.</label>
    </div>
    <button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
    <a href="/" class="btn btn-secondary" style="width:150px;">Cancel</a>
  </div>
</EditForm>

@* End render Delete code block *@
